.blogpost {
  background: var(--bg-three);
  margin: 2rem;
}
.blog-body {
  max-height: 200px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog-bottom {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.reactions {
  display: flex;
  width: 20%;
}
.reactions > div {
  flex: 1;
}
