:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #222222;
  --purple0: #3a3a4d;
  --purple1: #23232e;
  --purple2: #17171f;
  --purple-light: #6868b6;
  --nav-height: 70px;
  --line-height: 1.7rem;
  --footer-height: 360px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.light {
  --bg: var(--gray1);
  --bg-two: var(--gray4);
  --bg-three: var(--gray3);
  --color-hover: var(--purple0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3), var(--gray1));
  --text: var(--gray6);
}

.dark {
  --bg: var(--purple1);
  --bg-two: var(--purple0);
  --bg-three: var(--bg-two);
  --color-hover: var(--purple-light);
  --bg-nav: linear-gradient(to right, var(--purple1), var(--purple2), var(--purple1));
  --text: var(--gray2);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.5s ease-in-out, color 1s ease-in-out;
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 10px;
}
button,
[button] {
  padding: 0.5rem;
  border-radius: 0;
  outline: none;
  border: 1px solid var(--text);
  background: transparent;
  color: var(--text);
  border-radius: 0;
  font-weight: bold;
  width: fit-content;
}
button:hover,
[button]:hover {
  cursor: pointer;
  background: var(--text);
  color: var(--bg);
  transition: background 0.5s, color 0.5s;
  box-shadow: 0 0 5px var(--text);
}
input,
textarea {
  background-color: var(--gray1);
  padding: 0.7rem;
  outline: none;
  border: 1px solid var(--text);
}
input:focus,
textarea:focus {
  box-shadow: 0 0 5px var(--text);
}
.marginv {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.margin {
  margin: 1rem;
}
.padding {
  padding: 1rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
ul {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
  width: 100%;
  background: var(--bg-nav);
  color: var(--text);
  z-index: 10;
}
.navbar-nav {
  display: flex;
  text-align: center;
  flex: 1;
  justify-content: space-around;
}
.nav-item,
.side-item {
  margin: 2rem 0;
  cursor: pointer;
  transition: color 0.5s, transform 0.5s;
  width: fit-content;
}
.nav-item:hover,
.side-item:hover {
  color: var(--color-hover);
  animation: text-rotate 0.5s;
  animation-fill-mode: forwards;
}
.side-item:hover {
  color: var(--purple2);
}
.sidebar {
  position: fixed;
  z-index: 9;
  top: var(--nav-height);
  right: 0;
  height: calc(100vh - var(--nav-height));
  width: 0%;
  background-color: var(--purple-light);
  color: var(--purple1);
  transition: width 0.5s;
  overflow: hidden;
}
.sidebar-nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}
.burger-icon {
  display: none;
  padding: 1rem;
  z-index: 5;
}
.burger-icon:hover {
  cursor: pointer;
}
.burger-bar {
  width: 2.5rem;
  height: calc(0.5rem / 3);
  margin: 0.5rem 0;
  background-color: var(--purple-light);
}
.burger-active {
  z-index: 3;
}
.burger-active .burger-bar:nth-child(1) {
  animation: bar1 0.5s forwards;
}
.burger-active .burger-bar:nth-child(2) {
  opacity: 0;
  transition: opacity 0.5s, background-color 0.5s;
}
.burger-active .burger-bar:nth-child(3) {
  animation: bar3 0.5s forwards;
}
header {
  padding: 1rem;
  padding-bottom: 3.5rem;
  min-height: calc(100vh - 70px);
  text-align: center;
  background: var(--bg-nav);
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}
.logo {
  width: 20%;
  filter: hue-rotate(256deg);
}
.logo:hover {
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.arrows {
  display: block;
  width: 5rem;
  margin: auto;
}
.arrow {
  height: 2rem;
  background-color: var(--text);
  clip-path: polygon(50% 90%, 100% 0, 100% 10%, 50% 100%, 0 10%, 0 0);
}
.arrow:nth-child(1) {
  animation: arrow1 2s linear infinite;
}
.arrow:nth-child(2) {
  animation: arrow2 2s linear infinite;
}
.arrow:nth-child(3) {
  animation: arrow3 2s linear infinite;
}
section {
  width: 75%;
  margin: auto;
}
.section-title {
  text-align: center;
}

/*SKILLS*/
#skills {
  margin-right: auto;
  margin-left: auto;
}
.skill {
  display: flex;
}
.progress {
  flex: 9;
  background-color: var(--bg-two);
  overflow-x: hidden;
  animation: progress 1.5s;
}
.percentage {
  flex: 1;
  text-align: right;
}
.progress-value {
  padding: 0 0.2rem;
  color: var(--purple2);
  height: 100%;
  z-index: 1;
  background-color: var(--purple-light);
}

/* PROJECTS */

#projects-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  padding: 1rem;
}
.project {
  flex: 0 0 auto;
  position: relative;
  margin: 1rem;
  background: transparent;
  max-width: 500px;
}
.project:hover .project-overlay {
  opacity: 0.9;
}
.project:hover .project-img {
  width: 100%;
  height: 100%;
}
.project-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-img {
  width: 95%;
  height: 95%;
  transition: width 0.3s, height 0.3s;
}
.project-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: normal;
  font-size: 0.7rem;
  top: 0;
  left: 0;
  opacity: 1;
  padding: 1rem;
  height: 100%;
  width: 100%;
  background-color: var(--bg);
  opacity: 0;
  transition: opacity 0.5s;
}

/* BlogPosts */
.blogpost {
  background: var(--bg-three);
  margin: 2rem;
}
.blog-body {
  max-height: 200px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#btna-more {
  display: block;
  width: 90%;
  margin: 0 auto;
}
i {
  padding: 1rem;
  border-radius: 50%;
}
i:hover {
  cursor: pointer;
  transition: background 0.2s;
  background: var(--gray5);
}
i:active {
  background: var(--gray4);
}
.not-footer {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - var(--footer-height));
}
footer {
  text-align: center;
  color: whitesmoke;
  height: var(--footer-height);
  background: var(--bg-nav);
  color: var(--text);
  clip-path: polygon(0 100%, 100% 100%, 100% 10%, 0 0%);
}
form#feedback-form {
  width: 80%;
  margin: auto;
}
form#feedback-form input,
textarea#feedback-text {
  display: block;
  margin: 1rem 0;
  width: 100%;
}

form#form-subscribe input {
  outline: none;
  font-weight: bold;
  background-color: transparent;
  color: var(--text);
  margin: 1rem;
}
#form-subscribe input::placeholder {
  color: var(--gray4);
}
#socials {
  display: flex;
  justify-content: center;
}
#socials > div {
  margin: 0 0.5rem 0 0.5rem;
}
#socials img {
  width: 3rem;
}
/*  ANIMATIONS */
@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes text-rotate {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}
@keyframes progress {
  from {
    flex: 0;
  }
  to {
    flex: 9;
  }
}
@keyframes arrow1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow2 {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes arrow3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bar1 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(0.65rem) rotate(45deg);
  }
}
@keyframes bar3 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-0.65rem) rotate(-45deg);
  }
}

@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
  .navbar {
    justify-content: flex-end;
  }
  .navbar-nav {
    display: none;
  }
  .burger-icon {
    display: block;
  }
  .project {
    max-width: 300px;
  }
  section {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 50%;
  }
  .project {
    max-width: 250px;
  }
}
